
.footer_block {
    display: flex;
    justify-content: space-around;
    line-height: 40%;
    background-color:rgb(42, 45, 67);
    padding-top: 20px;
    padding-bottom: px;
    color:rgb(255, 255, 255) ;
    font-family: poppins-regular;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.icon_reseaux_footer{
    max-width: 30px;
    padding: 10px;
    filter: invert(100%);
}

.icon_reseaux_footer:hover{
    cursor: pointer;
    filter: invert(75%);
}

.navigation_footer:hover{
    cursor: pointer;
    filter: brightness(75%);
}