body{
    background-image: url("../Assets/fond_carre.png");
    background-repeat: repeat;
}

.logo_alumni_page_inscription{
    position: absolute;
    top: 25%;
    left: 50%;
    
}

.titre_contenu{
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 30px;
}

.categorie_inscription{
    position: absolute;
    top: 40%;
    left: 40%;
    text-decoration: none;

}

.lien_categorie{
    text-decoration: none;
    color: black;
}

.categorie_entreprise{
    background-color: rgb(247, 148, 29);
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
    text-align: center;
    font-size: 25px;
}

.categorie_apprenant{
    background-color:rgb(44, 186, 162);
    padding: 10px 100px 10px 100px;
    border-radius: 6px;
    text-align: center;
    font-size: 25px;
}

.categorie_formateur{
    background-color: rgb(203, 72, 153);
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
    text-align: center;
    font-size: 25px;
}