@font-face {
    font-family: poppins-regular;
    src: url(../Assets/Poppins-Regular.ttf);
  }
  
.navbar_block{
    display: flex;
    justify-content: space-around;
    align-items: end;
    line-height: 40%;
    background-color:rgb(42, 45, 67);
    padding-top: 10px;
    padding-bottom: 20px;
    color:rgb(255, 255, 255) ;
    font-family: poppins-regular;
    position: fixed;
    width: 100%;
    background-attachment: fixed;
    top: 0;
}

.navigation_navbar:hover{
    cursor: pointer;
    filter: brightness(75%);
}

a{
    text-decoration: none;
    color: white;
}
